.container {   
    display: grid;
    	grid-template-columns: repeat(7, 1fr);
    	grid-template-rows: 100px 55px;
    gap: 0px 0px;
    	grid-auto-flow: row;
    	grid-template-areas:
      "Craigslist . . . . Sign-Up Login"
      "Community Services Forums Housing For-Sale Jobs Gigs";
}
.container.dark-blue {
    background-color: #1976D2;
    height: 100px;
}
*.light {
    background-color:   #03A9F4;
    height: 55px;
}
.container button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 24px;
    border: none;
}
  
.Craigslist {
	grid-area: Craigslist;
    font-size: 48px !important;
    color: white;
    background-color: inherit;
}
.Community {
	grid-area: Community;
}
.Services {
	grid-area: Services;
}
.Forums {
	grid-area: Forums;
}
.Housing {
	grid-area: Housing;
}
.For-Sale {
	grid-area: For-Sale;
}
.Jobs {
	grid-area: Jobs;
}
.Gigs {
	grid-area: Gigs;
}
.Login {
	grid-area: Login;
    position: relative;

    left: 25%;
    display: flex;
    justify-content: center;
    align-self: center;
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.25);
    width: 120px;
    height: 60px;
    background-color: #5CB7FF;
}
.Sign-Up {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
	grid-area: Sign-Up;
    position: relative;
    left: 50%;
    color: #D0EAFF;
    background-color: inherit;
    width: 150px;
    height: 55px;
    padding: 15px;
}


.container button:hover {
    background-color: #005780;
    color: white;
}